.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 2rem;
    min-height: 500px;
}

.form{
    max-width: 700px;
    min-width: 400px;
    box-shadow: 1px 7px 14px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 7px 14px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 7px 14px 1px rgba(0,0,0,0.5);
    border-radius: 6px;
    margin-top: 20px;
    padding: 1rem;
    justify-content: center;
}

.title{
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}